<div class="create-container">  
  <h1>
      {{"forms.loan" | translate}}
  </h1>
  <div class="form">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label>{{"forms.isbn" | translate}}</label>
        <input type="number" class="form-control" formControlName="isbn" />
        <span *ngIf="controlHasError('isbn', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>           
      <div class="form-group">
        <label>{{"forms.person_name" | translate}}</label>
        <input type="text" class="form-control" formControlName="person_name" />
        <span *ngIf="controlHasError('person_name', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>        
      <button class="btn btn-primary" (click)="store()">
          {{"forms.save" | translate}}
      </button>
    </form>
  </div>
</div>
