<div class="create-container">
  <h1 *ngIf="!editing">
      {{ "forms.create_book" | translate }}
  </h1>
  <h1 *ngIf="editing">
      {{ "forms.edit_book" | translate }}
  </h1>
  <div class="form">
    <form [formGroup]="myForm">
      <div class="form-group">
        <label>{{ "forms.isbn" | translate }}</label>
        <input type="number" class="form-control" formControlName="isbn" />
        <span *ngIf="controlHasError('isbn', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "forms.name" | translate }}</label>
        <input type="text" class="form-control" formControlName="name" />
        <span *ngIf="controlHasError('name', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "forms.inventory" | translate }}</label>
        <input type="number" class="form-control" formControlName="quantity" />
        <span *ngIf="controlHasError('quantity', 'required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
          <label>{{ "forms.available" | translate }}</label>
          <input type="number" class="form-control" formControlName="available_quantity" />
          <span *ngIf="controlHasError('available_quantity', 'required')">
            <strong>{{ "validation.required_field" | translate }}</strong>
          </span>
        </div>
      <button class="btn btn-primary" (click)="store()">
          {{ "forms.save" | translate }}
      </button>
    </form>
  </div>
</div>
